<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531386611696-9nalgpl3jvbulv4ir9bcpd6q5olnk19r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531386611696-9nalgpl3jvbulv4ir9bcpd6q5olnk19r</string>
	<key>API_KEY</key>
	<string>AIzaSyA1WPTvM_phMWSFE1MD1VDr6RmmHi__TCc</string>
	<key>GCM_SENDER_ID</key>
	<string>531386611696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nibm.NIBM-COVID19</string>
	<key>PROJECT_ID</key>
	<string>covid19-19c33</string>
	<key>STORAGE_BUCKET</key>
	<string>covid19-19c33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531386611696:ios:df4697198629db405acf35</string>
	<key>DATABASE_URL</key>
	<string>https://covid19-19c33.firebaseio.com</string>
</dict>
</plist>